<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mqy.mqy.post.mapper.PostMediaMapper">
    <!--
      File: PostMediaMapperMapper.xml
      Author: HI-IR
      Created: 2026/3/11 19:35
    -->
    <insert id="insertBatch">
        INSERT INTO post_medias (post_id, media_type, url, thumbnail_url, create_time, update_time)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.postId}, #{item.mediaType}, #{item.url}, #{item.thumbnailUrl}, now(), now())
        </foreach>
    </insert>

</mapper>
